*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* All variable */

:root{
    /* Backgorund Color */
    --bg-color: #282828;
    --bg-button-color: #404040;
    --bg-task-color: #575757;
    --text-color: #f5f5f5;
    --bg-delete-color: #ef4f4f;

    /* Padding */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* Border-Radius */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

    /* Font-weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-semibold: 700;

    /* Font-Size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;
    --text-5xl: 48px;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-padding);
}

nav h3{
    font-weight: var(--font-weight-medium);
    font-size: var(--text-lg);
}

nav button{
    padding: var(--padding-m) var(--padding-l);
    border: none;
    background-color: var(--bg-button-color);
    border-radius: var(--border-radius-s);
    color: var(--text-color);
    cursor: pointer;
}

nav button:active{
    scale: 0.95;
}

.board{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xxl);
}

.board .task_colum{
    background-color: var(--bg-button-color);
    flex-grow: 1;
    padding: var(--padding-l);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.board .task_colum.hover_over{
    border: 2px dashed var(--text-color);
    transform: scale(1.03);
}

.board .task_colum .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board .task_colum .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    border-radius: var(--border-radius-m);
    cursor: grab;
}

.board .task_colum .task button{
    align-self: flex-end;
    padding: var(--padding-s) var(--padding-m);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius-s);
    background-color: var(--bg-delete-color);
    color: var(--text-color);
}  

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.63);
    backdrop-filter: blur(7px);
}

.modal .center{
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}

.modal .center input, .modal .center textarea, .modal .center select{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    color: var(--text-color);
}

.modal .center button{
    background-color: var(--bg-color);
    border: none;
    outline: none;
    padding: var(--padding-m) var(--padding-l);
    color: var(--text-color);
    border-radius: var(--border-radius-m);
    cursor: pointer;
}